body {
    text-align: center;
}

.board-container {
    width: 100%;
    text-align: center;
}

.board {
    background-color: forestgreen;
    
    td {
        width: 80px;
        height: 80px;
        border: 1px solid black;

        span {
            margin: 5px;
            height:60px;
            width: 60px;
            border-radius: 60px;
            display: block;

            &.white {
                background-color: white;
            }

            &.black {
                background-color: black;
            }
        }
    }
}